.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #333;
  z-index: 9;
}

.product-card {
  width: 100%;
  max-width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  /*text-align: center;*/
}

/*.product-image img {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  margin-bottom: 10px;*/
/*  border-radius: 6px;*/
/*}*/

.product-title {
  font-weight: bold;
  margin-bottom: 5px;
  line-height: 1.1rem;
}

.product-store {
  font-size: 0.85em;
  color: #666;
}

.product-card-meta {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.product-card-meta .product-title a{
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}
.product-card-meta .product-title a:hover {
  text-decoration: dotted;
}